<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% extends 'apptalentos/inicio.html' %}

    {% load static %}

    {% block contenidoQueCambia %}

        <h5>
            Tag: {{ hostcaster.tag }}</br>
            Twitch: {{ hostcaster.twitch }}</br>
            Twitter: {{ hostcaster.twitter }}</br>
            Instagram: {{ hostcaster.instagram }}</br>
            Reel: {{ hostcaster.reel }}</br>
            Dossier: {{ hostcaster.dossier }}</br>
            </br>
            <img src="{{ hostcaster.photo.url }}" alt="Imagen del Caster" style="width: 300px; height: auto;"/></br>
            </br>
            <button type="button" class="btn btn-dark"><a href="{% url 'HostcasterList' %}">Regresar</a></button></br>           
        </h5>
    {% endblock %}


</body>
</html>