<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    {% extends "apptalentos/inicio.html" %}

    {% load static %}
    
    {% block title %} Login {% endblock title %}
    
    {% block contenidoQueCambia %}

    <h4>
        <strong>Usuario:</strong> {{ user.username }} </br>
        <strong>Email:</strong> {{ user.email }} </br>
        <strong>Apellido:</strong> {{ user.last_name }} </br>
        <strong>Nombre:</strong> {{ user.first_name }} </br>
        {% if user.imagen %}
            <strong>Avatar:</strong> </br>
            <img src="{{request.user.imagen.imagen.url}}" alt="Avatar de {{ user.username }}" style="width: 300px; height: auto;"/>
        {% else %}
            <strong>No has subido un avatar.</strong> </br> </br>
        {% endif %}
    
        <a href="{% url 'EditarPerfil' %}" class="btn btn-dark">Editar Perfil</a>

    </h4>

    {% endblock %}

</body>
</html>